<div class="toppage">
  <div class="calendar">
  <%= month_calendar events: @contents do |date, contents| %>
    <%= date.day %>

    <% contents.each do |c| %>
      <div>
        <%= link_to "#{c.money}円", c %>
      </div>
    <% end %>
  <% end %>
</div>