html, body {
  margin: 0%;
}

header {
  background-color: oldlace;
}

footer {
  background-color: oldlace;
}

.app-header {
  color: aqua;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.appname {
  height: 80px;
  width: 180px;
}

.toppage{
  position: relative;
}

.calendar-heading {
  background-color: blanchedalmond;
}

.calendar {
  background-color: blanchedalmond;
}

.calendar-index {
  padding: 50px;
  margin-top: 35px;
}

.table.table-striped {
  background-color: white;
}

.calendar-footer {
  text-align: center;
  font-size: 40px;
  font-family: 'Snell Roundhand',sans-serif;
  color: aqua;
}

.money-btn {
  background-color: aqua;
  color: white;
  font-size: 20px;
  padding: 5px;
  position: absolute;
  top: 135px;
  left: 50px;
}

.month-money {
  position: absolute;
  top: 135px;
  right: 50px;
  font-size: 30px;
}

.user-name {
  font-size: 20px;
  color: black;
  position: absolute;
  top: 30px;
  right: 185px;
}

.logout {
  font-size: 20px;
  padding: 5px;
  background-color: aqua;
  color: white;
  position: absolute;
  top: 25px;
  right: 50px;
}

.login {
  font-size: 20px;
  padding: 5px;
  background-color: aqua;
  color:white;
  position: absolute;
  top: 20px;
  right: 185px;
}

.sign-up {
  font-size: 20px;
  padding: 5px;
  background-color: aqua;
  color:white;
  position: absolute;
  top: 20px;
  right: 50px;
}

.target-btn {
  background-color: aqua;
  color: white;
  font-size: 20px;
  padding: 5px;
  position: absolute;
  top: 135px;
  left: 200px;
}

.target-edit {
  position: absolute;
  top: 85px;
  right: 50px;
  font-size: 30px;
  color:red;
}

.sagaku {
  position: absolute;
  top: 185px;
  right: 50px;
  font-size: 30px;
}

.footer-app {
  height: 80px;
  width: 160px;
  margin-top: 5px;
}

.search-img {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 25px;
  left: 958px;
  font-size: 25px;
  background-color: aqua;
  border: aqua;
}

.keyword {
  height: 35px;
  width: 500px;
  position: absolute;
  top: 25px;
  left: 450px;
}

.search-button {
  border: 0px;
  padding: 0px;
  height: 40px;
}

.search-form {
  margin: 0px;
  display: flex;
  align-items: center;
}
